.f{
    margin-top: 6%;
    width: 1120px;
height: 100px;


gap: 0px;
border-radius: 8px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 100%;
background-color: white;
border-radius: 10px;
padding: 20px;
margin-left: 2%;
border: 1px solid  #D0D5DD;


}

.f h1{
   
font-family: Inter;
font-size: 24px;
font-weight: 600;
line-height: 32px;
letter-spacing: -0.02em;
text-align: left;

}

.f p{
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;

}

.f a{
    color: rgb(206, 16, 149);
}