
.container{
    width: 300px;
    height: 500px;
    gap: 10px;
    opacity: 100%;
    background-color: white;
    opacity: 100%;
    margin-left: 6%;
    margin-top: 4%;
    border-radius: 18px;
    border: 1px solid  #D0D5DD;

}

.insideContainer{
    width: 300px;
    height: 48px;
    opacity: 0px;
    background: #F2F2F2;
}

.container P{
    padding: 10px;
    font-weight: 600;
    font-size: 12px;
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
   
}

.section1{
    display: flex;
   
}

.section1 p{
    font-size: 10px;
}

.section2{
    display: flex;
}

.section2 p{
    font-size: 10px;
}
.taskDetails{
    display: flex;
    font-size: 10px;
    margin-left: 2%;
    width: 100%;
    justify-content: space-around;
   
}

.greenBox {
    background-color: #20B826;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    margin-left: 4%;
  
}

.yellowBox {
    background-color: #F2C94C;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    margin-left: 4%;
}

.details1{
    display: flex;
    justify-content: space-between;
    width: 60%;
   

}
.details2{
    display: flex;
    justify-content: space-evenly;
    
    margin-left: 6%;
}

.redBox {
    background-color: #EB57571A;
    color: #EB5757;
    padding: 5px;
    border-radius: 14px;
    font-size: 10px;
    text-align: center;
    width: 24px;
    height: 22px;
    line-height: 22px;
    font-weight: 500px;
}

.blueBox {
    background: #2F80ED1A;
    color: #2F80ED;
    padding: 5px;
    border-radius: 14px;
    font-size: 10px;
    text-align: center;
    width: 24px;
    height: 22px;
    line-height: 22px;
    font-weight: 500px;
    
}

.mediumBox {
    color:#F2C94C ;
    background-color: #F2C94C1A;
    padding: 5px;
    border-radius: 14px;
    font-size: 10px;
    text-align: center;
    width: 47px;
    height: 22px;
    line-height: 22px;
    font-weight: 500px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    list-style-type: none;
    padding-bottom: 5%;
}

.pagination a {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
   
}

.pagination .active a {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    
}
@media only screen and (min-width: 1390px) and (max-width: 2000px) {
    .container{
        width: 656px;
        height: 632px;
        margin-left: 3%;
    }

    .task{
        margin-top: 2%;
    }
    
   
    .insideContainer{
        width: 656px;
    
    }
    .container P{
        padding: 16px;
        font-size: 16px;
    }
    
    .section1 p{
        font-size: 12px;
    }
    
    .section2 p{
        font-size: 12px;
    }

    .taskDetails{
       
        font-size: 12px;  
    }

    .todo{
        width: 300px;
    }

    .details1{
        display: flex;
        justify-content: space-between;
        width: 60%;
    }

    .details2{
        display: flex;
        justify-content: space-evenly;
        width: 40%;
        margin-left: 6%;
    }
}